<section class="slide-collection-container">
  <h1>{{ settings.text }}</h1>
  <div class="slide-collection">
    <div class="slide">
      <div>{{ 'black-slipper.webp' | asset_url | img_tag: 'black slipper' }}</div>
      <button>Add to cart</button>
      <p>The Cosy Triple Treat Bundle</p>
      <b>$175.00USD</b>
    </div>
    <div class="slide">
      <div>{{ 'black-slipper.webp' | asset_url | img_tag: 'black slipper' }}</div>
      <button>Add to cart</button>
      <p>The Cosy Triple Treat Bundle</p>
      <b>$175.00USD</b>
    </div>
    <div class="slide">
      <div>{{ 'black-slipper.webp' | asset_url | img_tag: 'black slipper' }}</div>
      <button>Add to cart</button>
      <p>The Cosy Triple Treat Bundle</p>
      <b>$175.00USD</b>
    </div>
    <div class="slide">
      <div>{{ 'black-slipper.webp' | asset_url | img_tag: 'black slipper' }}</div>
      <button>Add to cart</button>
      <p>The Cosy Triple Treat Bundle</p>
      <b>$175.00USD</b>
    </div>
  </div>
</section>


{% style %}
  .slide-collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
  }
  .slide-collection {
    display: flex;
    gap: 2rem;
  }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .slide > button {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #db7900;
    color: white;
    width: 100%;
    font-weight: 700;
    font-size: large;
  }
  .slide img {
    border-radius: 12px;
    height: 30rem;
    transition: scale 0.3s ease-in;
  }
  .slide img:hover {
    scale: 1.05;
  }
  .slide > div {
    height: 30rem;
    width: 30rem;
    object-fit: contain;
    overflow: hidden;
  }
  .slide > p {
    margin: 0;
  }
  .slide > b {
    color: black;
  }
{% endstyle %}

{% schema %}
  {
    "name": "slide-collection",
    "presets": [
      {
        "name": "slide-collection"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "text",
        "default": "For kids",
        "label": "label"
      }
    ]
  }
{% endschema %}